<<<<<<< HEAD
img{
=======
/* img{
>>>>>>> 1d5d578a92406f9b241209f90ab7fd31f4fe8666
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
h1{
  text-align: center;
  color: darkblue;

<<<<<<< HEAD
=======
} */
@import url('https://fonts.googleapis.com/css?family=Economica');
body{
  background-image: url("space.png");
  background-size: cover;
  opacity: 0.6;
}
.heading{
  text-align: center;
  font-size: 60px;
  margin-top: 10%;
  color: #fff;
  font-family: 'Economica', sans-serif;
}
#btn{
  margin-left: 40%;
  margin-top: 10%;
  height: 80px;
  width: 250px;
  font-size: 20px;
>>>>>>> 1d5d578a92406f9b241209f90ab7fd31f4fe8666
}
